DATABASE_URL=postgresql://neondb_owner:npg_brSAK56Ugpcl@ep-little-glitter-axbz3nuf.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require
PORT=8000
SERVER_HOST=http://localhost:8000

# Configuración de Correo SMTP (Opcional - Si no se configura se imprime enlace en consola)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_FROM=CartoDigital <tu_correo@gmail.com>

